.bd-cont {
  font-family: "Poppins", sans-serif;
}
.bd-cont .head-cont {
  position: relative;
}
.bd-cont .head-cont .head-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.6;
  filter: blur(1px);
}
.bd-cont .head-cont .head-text {
  position: absolute;
  top: 6%;
}
.bd-cont .head-cont .head-text .welcome-text {
  padding: 10px;
  font-size: 1.9em;
  font-weight: 700;
  line-height: 1.5em;
  color: #2446A9;
  text-transform: capitalize;
}
.bd-cont .head-cont .head-text .intro {
  margin-top: 10px;
  font-size: 0.95em;
  font-weight: 500;
  padding: 10px;
  line-height: 1.3em;
  color: white;
  background-color: rgba(36, 69, 169, 0.6470588235);
}
.bd-cont .mid-section1 .banner img {
  width: 100%;
}
.bd-cont .mid-section1 .mid-section-intro {
  position: relative;
  margin-bottom: 20px;
  padding: 0 10px;
}
.bd-cont .mid-section1 .mid-section-intro .intro-details {
  margin-bottom: 40px;
}
.bd-cont .mid-section1 .mid-section-intro .intro-details .intro-head {
  font-size: 1.4em;
  font-weight: 700;
  text-transform: uppercase;
  color: #0E34A0;
  margin-bottom: 10px;
}
.bd-cont .mid-section1 .mid-section-intro .intro-details .intro-msg {
  font-size: 1.1em;
  font-weight: 500;
  padding-left: 10px;
  text-transform: capitalize;
}
.bd-cont .mid-section1 .mid-section-intro .line {
  position: absolute;
  bottom: 78px;
  left: 40px;
  background-color: #0E34A0;
  padding: 1px;
  height: 250px;
}
.bd-cont .mid-section1 .mid-section-intro .stack-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.bd-cont .mid-section1 .mid-section-intro .stack-cont .box {
  height: 60px;
  width: 60px;
  transform: rotate(45deg);
  background-color: white;
  border: 1px solid #021b5e;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bd-cont .mid-section1 .mid-section-intro .stack-cont .box img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  transform: rotate(-45deg);
}
.bd-cont .mid-section1 .mid-section-intro .stack-cont .stack-text-cont {
  width: 70%;
}
.bd-cont .mid-section1 .mid-section-intro .stack-cont .stack-text-cont .stack-head {
  text-transform: uppercase;
  font-size: 1em;
  color: #343434;
  font-weight: 700;
  margin-bottom: 10px;
}
.bd-cont .mid-section1 .mid-section-intro .stack-cont .stack-text-cont .stack-text {
  text-transform: capitalize;
  font-size: 0.8em;
  line-height: 1.5em;
}
.bd-cont .mid-section1 .main-about-cont {
  padding: 20px 10px;
  background-color: rgba(230, 229, 229, 0.4235294118);
}
.bd-cont .mid-section1 .main-about-cont .about .about-text-head {
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: 700;
  margin-left: 8px;
  color: #0E34A0;
  padding: 8px 0;
}
.bd-cont .mid-section1 .main-about-cont .about .about-cont {
  padding: 10px 10px;
}
.bd-cont .mid-section1 .main-about-cont .about .about-cont .about-text {
  font-size: 0.85em;
  line-height: 1.55em;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.756);
}
.bd-cont .mid-section1 .main-about-cont .about .about-cont .about-text .site-name {
  color: #343434;
  font-size: 1em;
  font-weight: 500;
}
.bd-cont .mid-section1 .main-about-cont .about .about-cont .more-detail {
  margin-top: 15px;
}
.bd-cont .mid-section1 .main-about-cont .about .about-cont .more-detail button {
  padding: 15px 20px;
  margin: 5px 0;
  border: none;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  border-radius: 5px;
  font-size: 0.75em;
  text-align: center;
  color: white;
  text-transform: uppercase;
  transition: 0.5s;
  background-color: #0E34A0;
}
.bd-cont .mid-section1 .main-about-cont .about .about-cont .more-detail button:hover {
  color: white;
  background-color: #540154;
}
.bd-cont .mid-section2 {
  background-color: rgba(168, 163, 163, 0.2509803922);
  margin-top: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bd-cont .mid-section2 .title-head {
  font-size: 1.3em;
  font-weight: 700;
  color: #0E34A0;
  text-transform: uppercase;
  margin-bottom: 30px;
  border: 1px dotted #2F3061;
  border-radius: 5px;
  padding: 10px;
}
.bd-cont .mid-section2 .cert1-img img, .bd-cont .mid-section2 .cert2-img img {
  width: 290px;
  margin-bottom: 40px;
}
.bd-cont .mid-section3 {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bd-cont .mid-section3 .title-head {
  font-size: 1.8em;
  font-weight: 700;
  color: #0E34A0;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.bd-cont .mid-section3 .deposit-plans-subtext {
  text-align: center;
  font-size: 0.85em;
  margin-bottom: 0px;
  width: 250px;
  line-height: 1.5em;
}
.bd-cont .mid-section3 .deposit-plans-subtext .site-name {
  color: #2F3061;
  font-size: 1em;
  font-weight: 500;
}
.bd-cont .mid-section3 .deposit-plans .trial-plan-cont {
  position: relative;
  padding: 90px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: rgb(44, 44, 44);
  background-color: #ffffff;
  margin: 40px 0;
  border: 2px dotted #2F3061;
}
.bd-cont .mid-section3 .deposit-plans .trial-plan-cont .icon-cont img {
  position: absolute;
  top: -30px;
  transform: translate(-50%);
  background-color: white;
  border: 2px solid #2F3061;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.bd-cont .mid-section3 .deposit-plans .trial-plan-cont .trial-plan-head {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1em;
}
.bd-cont .mid-section3 .deposit-plans .trial-plan-cont .trial-plan-percent {
  text-transform: capitalize;
  text-align: center;
  margin: 20px 0;
}
.bd-cont .mid-section3 .deposit-plans .trial-plan-cont .trial-plan-percent .num {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 8px;
  color: #0E34A0;
}
.bd-cont .mid-section3 .deposit-plans .trial-plan-cont .trial-plan-percent .duration {
  font-weight: 400;
  font-size: 0.85em;
  color: #343434;
}
.bd-cont .mid-section3 .deposit-plans .trial-plan-cont .trial-plan-info li {
  padding: 8px;
  font-size: 0.9em;
  font-weight: 500;
  color: #343434;
  text-transform: capitalize;
}
.bd-cont .mid-section3 .deposit-plans .trial-plan-cont .trial-plan-info li span {
  padding: 5px;
  color: #343434;
  font-weight: 600;
}
.bd-cont .mid-section3 .deposit-plans .trial-plan-cont .signup-btn {
  position: absolute;
  bottom: 20px;
  padding: 12px 70px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 0.9em;
  font-weight: 600;
  text-align: center;
  color: white;
  background-color: #0E34A0;
  text-transform: uppercase;
  transition: 0.5s;
}
.bd-cont .mid-section3 .deposit-plans .trial-plan-cont .signup-btn:hover {
  background-color: #021b5e;
}
.bd-cont .mid-section4 .pic-brk img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.bd-cont .mid-section4 .stats-info-cont {
  padding: 20px 0;
  background-color: rgba(120, 7, 120, 0.0470588235);
}
.bd-cont .mid-section4 .stats-info-cont .stats-info-head {
  text-align: center;
  font-size: 1.6em;
  color: #0E34A0;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.bd-cont .mid-section4 .stats-info-cont .stats-info-table {
  padding: 30px;
}
.bd-cont .mid-section4 .stats-info-cont .stats-info-table .started {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85em;
  font-weight: 500;
  text-transform: uppercase;
  padding: 5px 0;
}
.bd-cont .mid-section4 .stats-info-cont .stats-info-table .started .details {
  font-weight: 600;
  color: #2446A9;
}
.bd-cont .mid-section4 .company-info-cont {
  margin-top: 30px;
  text-align: center;
  padding: 10px;
}
.bd-cont .mid-section4 .company-info-cont .company-info-logo img {
  width: 100px;
}
.bd-cont .mid-section4 .company-info-cont .company-info-head {
  text-align: center;
  font-size: 1.6em;
  font-weight: 700;
  color: #0E34A0;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.bd-cont .mid-section4 .company-info-cont .company-info-details {
  line-height: 1.2rem;
}
.bd-cont .mid-section4 .company-info-cont .company-info-details .info {
  padding: 5px 0;
  font-size: 0.9em;
  text-transform: capitalize;
}
.bd-cont .mid-section4 .company-info-cont .company-info-details .info .title {
  color: #2446A9;
  font-weight: 500;
}
.bd-cont .mid-section4 .company-info-cont .cert-btn {
  margin-top: 20px;
}
.bd-cont .mid-section4 .company-info-cont .cert-btn button {
  padding: 12px 40px;
  margin: 5px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 0.9em;
  font-weight: 600;
  text-align: center;
  color: #0E34A0;
  background-color: transparent;
  border: 1px solid #0E34A0;
  text-transform: uppercase;
  transition: 0.5s;
}
.bd-cont .mid-section4 .company-info-cont .cert-btn button:hover {
  color: white;
  background-color: #021b5e;
}
.bd-cont .mid-section5 {
  background-color: rgba(52, 52, 52, 0.062745098);
  margin-top: 10px;
  padding: 20px;
}
.bd-cont .mid-section5 .cash-inflow {
  text-align: center;
}
.bd-cont .mid-section5 .cash-inflow .total-amount {
  position: relative;
  background-color: #0e35a0;
  color: white;
  border-radius: 10px;
  padding: 50px;
  font-size: 1.5em;
  font-weight: 600;
  margin: 45px 0;
}
.bd-cont .mid-section5 .cash-inflow .total-amount .total-amount-icon img {
  position: absolute;
  top: -30px;
  transform: translate(-50%);
  background-color: white;
  border: 1px solid #e4e5ee;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.bd-cont .mid-section5 .cash-inflow .total-amount .total-amount-title {
  position: absolute;
  top: 15%;
  left: 4%;
  text-transform: capitalize;
  font-size: 0.5em;
}
.bd-cont .mid-section5 .cash-inflow .total-amount .total-amount-title .title-icon {
  position: absolute;
  right: -15px;
}/*# sourceMappingURL=index.css.map */