.bd-cont{
    font-family: 'Poppins', sans-serif;
    // padding:10px;
    // overflow-x: hidden;
    // background: rgba(107, 6, 92, 0.311);
    // height: 100vh;
    .head-cont{
        position: relative;
        // background-color:rgba(0, 0, 255, 0.068);
        .head-img{
            // width: 50px;
            img{
                // max-width: 350px;
                width:100%;
                object-fit: cover;
                opacity: 0.6;
                filter: blur(1px);

            }
        }

        .head-text{
            // background-color: rgba(243, 241, 241, 0.466);
            position: absolute;
            // padding: 10px;
            top: 6%;
            // width: 70%;
            .welcome-text{
                padding: 10px;
                font-size: 1.9em;
                font-weight: 700;
                line-height: 1.5em;
                color: #2446A9;
                text-transform: capitalize;
            }

            .intro{
                margin-top: 10px;
                font-size: 0.95em;
                font-weight: 500;
                padding: 10px;
                line-height: 1.3em;
                // color:#2445a9;
                color:white;
                
                background-color: #2445a9a5;
            }
        }
    }

    .mid-section1{
        // background-color: #051b4dad;
       
        // height: 500px;

        .main-about-cont{
            padding: 20px 10px;
            background-color:#e6e5e56c;


            .about{
                // background-color:#e6e5e57e;
    
                .about-text-head{
                    text-transform: uppercase;
                    font-size: 1.3em;
                    font-weight: 700;
                    margin-left: 8px;
                    color: #0E34A0;
                    padding: 8px 0;
                }
    
                .about-cont{
                    padding: 10px 10px;
                    // margin-top: 30px;
                    // background-color:#e6e5e53b;
    
                    .about-text{
                        .site-name{
                            color:#343434;
                            font-size: 1em;
                            font-weight: 500;
                        }
                        font-size: 0.85em;
                        line-height: 1.55em;
                        // padding: 9px;
                        letter-spacing: 0.01em;
                        color: rgba(0, 0, 0, 0.756);
                        // width: 300px;
                        
                        
                    }
    
                    .more-detail{
                        margin-top: 15px;
                        button{
                            padding: 15px 20px;
                            margin: 5px 0;
                            border:none;
                           text-transform: uppercase;
                           font-weight: 500;
                           text-align: center;
                           border-radius: 5px;
                           font-size: 0.75em;
                           text-align: center;
                           color:white ;
                           text-transform: uppercase;
                           transition: 0.5s;
                           background-color:#0E34A0 ;
       
                           &:hover{
                           color: white ;
                               background-color:#540154;
                           }
    
                        }
                        
                        
                    }
                }
               
            }
        }
        
    }

    .mid-section2{
        background-color: #a8a3a340;
        margin-top: 30px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .title-head{
            font-size:1.3em;
            // text-align: center;
            font-weight: 700;
            color:#0E34A0;
            text-transform:uppercase;
            margin-bottom: 30px;
            border: 1px dotted #2F3061;
            border-radius: 5px;
            padding: 10px;
        }
        
        .cert1-img, .cert2-img{

            img{
            width: 290px;
            margin-bottom: 40px;

            }
            
        }
    }

    .mid-section3{
        // background-color: red;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .title-head{
            font-size: 1.8em;
            font-weight: 700;
            color:#0E34A0;
            text-transform:uppercase;
            margin-bottom: 10px;
        }

        .deposit-plans-subtext{
            text-align: center;
            font-size: 0.85em;
            margin-bottom: 0px;
            width: 250px;
            line-height: 1.5em;
            
            .site-name{
                color:#2F3061;
                    font-size: 1em;
                    font-weight: 500;
            }
            
        }

        .deposit-plans{
            // background-color: red;



            .trial-plan-cont{
                position: relative;
                padding: 90px 40px;
                // width:250px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                // background-color: #76037655;
                color: rgb(44, 44, 44);
                background-color:#ffffff;
                

                margin: 40px 0;
                border: 2px dotted #2F3061;

                


                .icon-cont{
                   
                //    padding: 10px;
                    img{
                        position: absolute;
                        top: -30px;
                        transform: translate(-50%);
                        // background-color:#ecaeed;
                        background-color:white;

                        border: 2px solid #2F3061;
                        height: 60px;
                        width: 60px;
                        border-radius: 50%;
                        
                        object-fit: cover;
                        // width: 200px;
                    }
                }

                .trial-plan-head{
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 1em;
                    // margin-top: 10px;
                }
                .trial-plan-percent{
                    text-transform: capitalize;
                    text-align: center;
                    margin: 20px 0;

                    .num{
                        font-size:2em;
                        font-weight: 600;
                        margin-bottom: 8px;
                        //  color: #4f0151;
                        color: #0E34A0;

                        
                    }

                    .duration{
                        font-weight: 400;
                        font-size: 0.85em;
                        color: #343434;
                        
                    }
                    
                }

                .trial-plan-info{
                    li{
                        padding: 8px;
                        font-size: 0.9em;
                        font-weight: 500;
                        // color: #444444;
                        color:#343434;
                        text-transform: capitalize;

                        span{
                            padding: 5px;
                            // color: #4d004d;
                            color: #343434;
                            font-weight: 600;
                        }
                    }
                }

                .signup-btn{
                    position: absolute;
                    bottom: 20px;
                    padding: 12px 70px;
                    outline: none;
                    border: none;
                    border-radius: 5px;
                    font-size: 0.9em;
                    font-weight: 600;
                    text-align: center;
                    color:white ;
                    background-color: #0E34A0;
                    text-transform: uppercase;
                    transition: 0.5s;

                    &:hover{
                    color:white ;
                        background-color: #7F5A83;
                    }
                }
            }
        }

        
    }

    .mid-section4{
        // padding: 100px 0;
        .pic-brk{
            img{
                width: 100%;
                object-fit: cover;
            }
        }

        .stats-info-cont{
            // margin-top: 50px;
            padding: 20px 0;
            background-color:#7807780c;

            .stats-info-head{
                text-align: center;
                font-size: 1.6em;
                color:#0E34A0;
                font-weight: 700;
                text-transform: uppercase;
                margin-bottom: 5px;

            }

            .stats-info-table{
                padding: 30px;

                .started{
                    display: flex;
                    justify-content:space-between;
                    align-items: center;
                    font-size: 0.85em;
                    font-weight:500;
                    text-transform: uppercase;
                    padding: 5px 0;

                    .details{
                    font-weight:600;
                    color: #2446A9;

                    }
                }
            }
        }

        .company-info-cont{
            margin-top: 30px;
            text-align: center;
            padding: 10px;
            // background-color: red;
            .company-info-logo{
                img{
                    width: 100px;
                }
            }

            .company-info-head{
                text-align: center;
                font-size: 1.6em;
                font-weight: 700;
                color:#0E34A0;
                text-transform: uppercase;
                margin-bottom: 20px;
                
            }
            .company-info-details{
                line-height: 1.2rem;

                .info{
                    // text-align: center;
                    padding: 5px 0;
                    font-size: 0.9em;
                    // font-weight: 500;
                    text-transform: capitalize;
                    // color:#570080;


                    .title{
                        color:#2446A9;
                        font-weight: 500;
                    }

                    
                }

                // .office-address{
                //     background-color: red;
                //     text-align: center;
                // }
            }
        }
    }

   
}