.bd-cont {
  font-family: "Poppins", sans-serif;
}
.bd-cont .head-cont {
  position: relative;
}
.bd-cont .head-cont .head-img {
  background-color: black;
  height: 400px;
  width: 100%;
  overflow: hidden;
}
@media screen and (min-width: 900px) and (max-width: 1200px) {
  .bd-cont .head-cont .head-img {
    height: 550px;
    overflow: hidden;
  }
}
@media screen and (min-width: 720px) and (max-width: 900px) {
  .bd-cont .head-cont .head-img {
    height: 470px;
    overflow: hidden;
  }
}
@media screen and (min-width: 1200px) {
  .bd-cont .head-cont .head-img {
    height: 600px;
    overflow: hidden;
  }
}
.bd-cont .head-cont .head-img img {
  width: 700px;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.3;
}
@media screen and (min-width: 720px) {
  .bd-cont .head-cont .head-img img {
    width: 100%;
  }
}
.bd-cont .head-cont .head-cover {
  position: absolute;
  top: -25%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 100%;
}
.bd-cont .head-cont .head-cover .head-text {
  padding: 10px;
  text-align: center;
}
.bd-cont .head-cont .head-cover .head-text .welcome-text {
  word-wrap: break-word;
  font-size: 1.9em;
  font-weight: 500;
  line-height: 1.5em;
  color: whitesmoke;
  text-transform: capitalize;
}
@media screen and (min-width: 720px) {
  .bd-cont .head-cont .head-cover .head-text .welcome-text {
    font-size: 2.5em;
  }
}
.bd-cont .head-cont .head-cover .head-text .welcome-text .site-name {
  font-size: 1.5em;
  font-weight: 700;
}
.bd-cont .head-cont .head-cover .head-text .intro {
  margin-top: 10px;
  font-size: 0.82em;
  font-weight: 500;
  padding: 10px;
  line-height: 1.3em;
  color: white;
}
@media screen and (min-width: 720px) {
  .bd-cont .head-cont .head-cover .head-text .intro {
    padding: 30px;
  }
}
.bd-cont .head-cont .head-cover .easy-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.bd-cont .head-cont .head-cover .easy-menu .menu {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  outline: none;
  overflow: hidden;
}
.bd-cont .head-cont .head-cover .easy-menu .menu .circle {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #0E34A0;
  cursor: pointer;
  transition: 0.5s;
}
.bd-cont .head-cont .head-cover .easy-menu .menu .circle:hover {
  background-color: white;
  border: 1px solid white;
}
.bd-cont .head-cont .head-cover .easy-menu .menu .circle .circle-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.6em;
  color: white;
  cursor: pointer;
  outline: none;
  padding: 5px;
}
.bd-cont .head-cont .head-cover .easy-menu .menu .circle .circle-icon:hover {
  color: #0E34A0;
}
.bd-cont .head-cont .head-cover .easy-menu .menu .menu-text {
  color: white;
  margin-top: 8px;
  font-size: 0.8em;
  font-weight: 500;
  text-transform: capitalize;
}
.bd-cont .head-cont .get-started-btn {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 30px;
}
.bd-cont .head-cont .get-started-btn button {
  background-color: #0E34A0;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px 40px;
  font-size: 0.85em;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.5s;
}
.bd-cont .head-cont .get-started-btn button:hover {
  background-color: #092981;
}
.bd-cont .mid-section1 {
  padding: 10px;
  margin-top: 15px;
}
.bd-cont .mid-section1 .banner img {
  width: 100%;
}
.bd-cont .mid-section1 .mid-section-intro {
  margin-bottom: 20px;
  padding: 0 10px;
}
.bd-cont .mid-section1 .mid-section-intro .intro-details {
  margin-bottom: 40px;
}
.bd-cont .mid-section1 .mid-section-intro .intro-details .intro-head {
  font-size: 1.4em;
  font-weight: 700;
  text-transform: uppercase;
  color: #0E34A0;
  margin-bottom: 10px;
}
.bd-cont .mid-section1 .mid-section-intro .intro-details .intro-msg {
  font-size: 1.1em;
  font-weight: 500;
  padding-left: 10px;
  text-transform: capitalize;
}
@media screen and (min-width: 900px) {
  .bd-cont .mid-section1 .mid-section-intro .main-stack-cont {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-inline: 20px;
    justify-content: space-around;
    background-color: rgba(205, 197, 238, 0.253);
  }
}
.bd-cont .mid-section1 .mid-section-intro .main-stack-cont .stack-cont {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 40px;
  width: 100%;
  margin-left: 10px;
}
@media screen and (min-width: 300px) and (max-width: 550px) {
  .bd-cont .mid-section1 .mid-section-intro .main-stack-cont .stack-cont {
    justify-content: space-between;
  }
}
@media screen and (min-width: 900px) {
  .bd-cont .mid-section1 .mid-section-intro .main-stack-cont .stack-cont {
    justify-content: space-around;
    gap: 20px;
  }
}
.bd-cont .mid-section1 .mid-section-intro .main-stack-cont .stack-cont .box {
  position: relative;
  height: 60px;
  width: 60px;
  transform: rotate(45deg);
  background-color: white;
  border: 1px solid #021b5e;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 900px) {
  .bd-cont .mid-section1 .mid-section-intro .main-stack-cont .stack-cont .box {
    transform: rotate(0deg);
    border: none;
    background-color: transparent;
  }
}
.bd-cont .mid-section1 .mid-section-intro .main-stack-cont .stack-cont .box img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 20;
  transform: rotate(-45deg);
}
@media screen and (min-width: 900px) {
  .bd-cont .mid-section1 .mid-section-intro .main-stack-cont .stack-cont .box img {
    transform: rotate(0deg);
    width: 100px;
    height: 100px;
  }
}
.bd-cont .mid-section1 .mid-section-intro .main-stack-cont .stack-cont .box .line {
  position: absolute;
  top: 45px;
  left: 90px;
  background-color: #0E34A0;
  padding: 1px;
  height: 90px;
  transform-origin: center;
  transition: 0.5s;
  transform: rotate(135.5deg);
}
@media screen and (min-width: 720px) and (max-width: 899px) {
  .bd-cont .mid-section1 .mid-section-intro .main-stack-cont .stack-cont .box .line {
    bottom: 48px;
  }
}
@media screen and (min-width: 900px) {
  .bd-cont .mid-section1 .mid-section-intro .main-stack-cont .stack-cont .box .line {
    display: none;
  }
}
.bd-cont .mid-section1 .mid-section-intro .main-stack-cont .stack-cont .stack-text-cont {
  width: 70%;
}
.bd-cont .mid-section1 .mid-section-intro .main-stack-cont .stack-cont .stack-text-cont .stack-head {
  text-transform: uppercase;
  font-size: 1em;
  color: #021b5e;
  font-weight: 700;
  margin-bottom: 10px;
}
@media screen and (min-width: 900px) {
  .bd-cont .mid-section1 .mid-section-intro .main-stack-cont .stack-cont .stack-text-cont .stack-head {
    font-size: 1.1em;
  }
}
.bd-cont .mid-section1 .mid-section-intro .main-stack-cont .stack-cont .stack-text-cont .stack-text {
  text-transform: capitalize;
  font-size: 0.8em;
  line-height: 1.5em;
  color: rgba(36, 69, 169, 0.8078431373);
  font-weight: 500;
}
@media screen and (min-width: 900px) {
  .bd-cont .mid-section1 .mid-section-intro .main-stack-cont .stack-cont .stack-text-cont .stack-text {
    font-size: 0.9em;
    line-height: 2em;
  }
}
.bd-cont .mid-section1 .main-about-cont .about-text-head {
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 700;
  margin-left: 8px;
  color: #0E34A0;
  padding: 8px 0;
}
@media screen and (min-width: 900px) {
  .bd-cont .mid-section1 .main-about-cont .about-text-head {
    background-color: rgba(1, 11, 44, 0.1019607843);
    padding: 10px;
    font-size: 1.9em;
  }
}
.bd-cont .mid-section1 .main-about-cont .about-item-cont {
  background-color: rgba(8, 8, 8, 0.039);
}
@media screen and (min-width: 900px) {
  .bd-cont .mid-section1 .main-about-cont .about-item-cont {
    display: flex;
    align-items: center;
    padding: 0;
  }
}
.bd-cont .mid-section1 .main-about-cont .about-item-cont .about-cont {
  padding: 10px 10px;
}
@media screen and (min-width: 900px) {
  .bd-cont .mid-section1 .main-about-cont .about-item-cont .about-cont {
    width: 80%;
  }
}
.bd-cont .mid-section1 .main-about-cont .about-item-cont .about-cont .about-text {
  font-size: 0.82em;
  line-height: 1.57em;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.756);
}
.bd-cont .mid-section1 .main-about-cont .about-item-cont .about-cont .about-text .site-name {
  color: rgba(14, 53, 160, 0.7568627451);
  font-size: 1em;
  font-weight: 500;
}
@media screen and (min-width: 900px) {
  .bd-cont .mid-section1 .main-about-cont .about-item-cont .about-cont .about-text {
    font-size: 1em;
    line-height: 2em;
    padding: 10px;
    background-color: rgba(158, 155, 155, 0.078);
  }
}
.bd-cont .mid-section1 .main-about-cont .about-item-cont .about-cont .more-detail {
  margin-top: 15px;
}
@media screen and (min-width: 900px) {
  .bd-cont .mid-section1 .main-about-cont .about-item-cont .about-cont .more-detail {
    display: flex;
    align-items: flex-start;
    gap: 5%;
    padding: 0;
    margin-top: 25px;
  }
}
.bd-cont .mid-section1 .main-about-cont .about-item-cont .about-cont .more-detail button {
  padding: 15px 20px;
  margin: 5px 0;
  border: none;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  border-radius: 5px;
  font-size: 0.75em;
  text-align: center;
  color: white;
  text-transform: uppercase;
  transition: 0.5s;
  background-color: #0E34A0;
  cursor: pointer;
}
@media screen and (min-width: 900px) {
  .bd-cont .mid-section1 .main-about-cont .about-item-cont .about-cont .more-detail button {
    font-weight: 600;
  }
}
.bd-cont .mid-section1 .main-about-cont .about-item-cont .about-cont .more-detail button:hover {
  color: white;
  background-color: #001345;
}
.bd-cont .mid-section1 .main-about-cont .about-item-cont .about-img {
  display: none;
}
@media screen and (min-width: 900px) {
  .bd-cont .mid-section1 .main-about-cont .about-item-cont .about-img {
    display: flex;
    height: 500px;
  }
  .bd-cont .mid-section1 .main-about-cont .about-item-cont .about-img img {
    width: 400px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.bd-cont .mid-section2 {
  background-color: rgba(168, 163, 163, 0.2509803922);
  margin-top: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.bd-cont .mid-section2 .title-head {
  font-size: 1.3em;
  font-weight: 700;
  color: #0E34A0;
  text-transform: uppercase;
  margin-bottom: 30px;
  border: 1px dotted #2F3061;
  border-radius: 5px;
  padding: 10px;
}
@media screen and (min-width: 720px) {
  .bd-cont .mid-section2 .title-head {
    font-size: 2.5em;
    border: none;
  }
  .bd-cont .mid-section2 .title-head::before {
    content: " ";
    padding: 1px;
    background-color: rgba(0, 98, 255, 0.317);
    margin-right: 10px;
  }
  .bd-cont .mid-section2 .title-head::after {
    content: " ";
    padding: 1px;
    background-color: rgba(0, 98, 255, 0.372);
    margin-left: 10px;
  }
}
@media screen and (min-width: 720px) {
  .bd-cont .mid-section2 .certs {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
.bd-cont .mid-section2 .certs .cert1-img, .bd-cont .mid-section2 .certs .cert2-img {
  padding: 0px;
  border-radius: 15px;
}
@media screen and (min-width: 720px) and (max-width: 899px) {
  .bd-cont .mid-section2 .certs .cert1-img, .bd-cont .mid-section2 .certs .cert2-img {
    background-color: white;
    padding: 15px;
    border-radius: 15px;
  }
}
@media screen and (min-width: 900px) {
  .bd-cont .mid-section2 .certs .cert1-img, .bd-cont .mid-section2 .certs .cert2-img {
    background-color: white;
    padding: 10px;
  }
}
.bd-cont .mid-section2 .certs .cert1-img img, .bd-cont .mid-section2 .certs .cert2-img img {
  width: 290px;
  margin-bottom: 40px;
  background-color: rgba(255, 128, 0, 0.486);
  padding: 10px;
}
@media screen and (min-width: 900px) {
  .bd-cont .mid-section2 .certs .cert1-img img, .bd-cont .mid-section2 .certs .cert2-img img {
    width: 350px;
  }
}
@media screen and (min-width: 720px) and (max-width: 899px) {
  .bd-cont .mid-section2 .certs .cert1-img img, .bd-cont .mid-section2 .certs .cert2-img img {
    width: 250px;
  }
}
.bd-cont .mid-section3 {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='350' height='560' preserveAspectRatio='none' viewBox='0 0 350 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1041%26quot%3b)' fill='none'%3e%3cpath d='M398.82 122.62C341.12 163.05 337.36 389.29 272.66 374.62 207.96 359.95 247.16 40.63 209.58-63.44' stroke='rgba(51%2c 121%2c 194%2c 0.17)' stroke-width='2'%3e%3c/path%3e%3cpath d='M369.46 93.44C339.52 89.98 320.39 23.44 271.32 23.44 222.24 23.44 225.13 94.41 173.17 93.44 121.22 92.47 114.06-28.33 75.03-44.92' stroke='rgba(51%2c 121%2c 194%2c 0.17)' stroke-width='2'%3e%3c/path%3e%3cpath d='M354.77 406.63C301.73 413.57 312.6 579.87 183.89 535.43 55.18 490.99 103.42 95.48 13.01-17.46' stroke='rgba(51%2c 121%2c 194%2c 0.17)' stroke-width='2'%3e%3c/path%3e%3cpath d='M364.55 339.59C323.42 355.2 354.12 543.75 257.96 479.59 161.79 415.43 212.78 55.2 151.36-70.77' stroke='rgba(51%2c 121%2c 194%2c 0.17)' stroke-width='2'%3e%3c/path%3e%3cpath d='M390.54 480.62C337.77 451.46 382.74 361.71 267.15 273.42 151.57 185.13 205.3 13.36 143.77-46.24' stroke='rgba(51%2c 121%2c 194%2c 0.17)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1041'%3e%3crect width='350' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
@media screen and (min-width: 900px) {
  .bd-cont .mid-section3 {
    background-image: none;
  }
}
.bd-cont .mid-section3 .title-head {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.8em;
  font-weight: 700;
  color: #0E34A0;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (min-width: 720px) {
  .bd-cont .mid-section3 .title-head {
    margin-bottom: 30px;
    font-size: 2em;
  }
}
.bd-cont .mid-section3 .title-head .title-logo {
  color: rgba(14, 128, 160, 0.6235294118);
}
.bd-cont .mid-section3 .deposit-plans-subtext {
  text-align: center;
  font-size: 0.82em;
  margin-bottom: 0px;
  width: 250px;
  line-height: 1.5em;
  font-weight: 500;
  color: rgba(52, 52, 52, 0.6039215686);
  background-color: rgba(255, 255, 255, 0.5411764706);
  padding: 5px;
}
@media screen and (min-width: 720px) and (max-width: 899px) {
  .bd-cont .mid-section3 .deposit-plans-subtext {
    margin-bottom: 50px;
    font-size: 1em;
    width: 70%;
    background-color: transparent;
  }
}
@media screen and (min-width: 900px) {
  .bd-cont .mid-section3 .deposit-plans-subtext {
    margin-bottom: 40px;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 600;
    width: auto;
    background-color: transparent;
  }
}
.bd-cont .mid-section3 .deposit-plans-subtext .site-name {
  color: #2F3061;
  font-size: 1em;
  font-weight: 600;
}
@media screen and (min-width: 720px) {
  .bd-cont .mid-section3 .deposit-plans {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
.bd-cont .mid-section3 .deposit-plans .trial-plan-cont {
  position: relative;
  padding: 70px 20px 90px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: rgb(44, 44, 44);
  background-color: #ffffff;
  margin: 40px 0;
  border: 2px dotted #0E34A0;
}
.bd-cont .mid-section3 .deposit-plans .trial-plan-cont .icon-cont img {
  position: absolute;
  top: -30px;
  transform: translate(-50%);
  background-color: white;
  border: 1px solid #a8b8e7;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.bd-cont .mid-section3 .deposit-plans .trial-plan-cont .trial-plan-head {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.3em;
}
.bd-cont .mid-section3 .deposit-plans .trial-plan-cont .trial-plan-percent {
  text-transform: capitalize;
  text-align: center;
  margin: 25px 0;
}
.bd-cont .mid-section3 .deposit-plans .trial-plan-cont .trial-plan-percent .num {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 8px;
  color: #0E34A0;
}
.bd-cont .mid-section3 .deposit-plans .trial-plan-cont .trial-plan-percent .duration {
  font-weight: 400;
  font-size: 0.85em;
  color: #343434;
}
.bd-cont .mid-section3 .deposit-plans .trial-plan-cont .trial-plan-info li {
  padding: 10px;
  font-size: 0.9em;
  font-weight: 500;
  color: #343434;
  text-transform: capitalize;
}
.bd-cont .mid-section3 .deposit-plans .trial-plan-cont .trial-plan-info li span {
  padding: 5px;
  color: #343434;
  font-weight: 600;
}
.bd-cont .mid-section3 .deposit-plans .trial-plan-cont .trial-plan-info li .check {
  color: rgb(5, 109, 21);
  font-size: 1.2em;
}
.bd-cont .mid-section3 .deposit-plans .trial-plan-cont .trial-plan-info .instant {
  color: #343434;
  font-weight: 700;
}
.bd-cont .mid-section3 .deposit-plans .trial-plan-cont .signup-btn {
  position: absolute;
  bottom: 20px;
  padding: 12px 70px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 0.9em;
  font-weight: 600;
  text-align: center;
  color: white;
  background-color: #0E34A0;
  text-transform: uppercase;
  transition: 0.5s;
  cursor: pointer;
}
.bd-cont .mid-section3 .deposit-plans .trial-plan-cont .signup-btn:hover {
  background-color: #021b5e;
}
@media screen and (min-width: 900px) {
  .bd-cont .mid-section4 {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
@media screen and (min-width: 900px) {
  .bd-cont .mid-section4 .pic-brk {
    width: 40%;
  }
}
.bd-cont .mid-section4 .pic-brk img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px 0 0 5px;
}
.bd-cont .mid-section4 .stats-info-cont {
  padding: 20px 0;
  background-color: rgba(120, 7, 120, 0.0470588235);
}
@media screen and (min-width: 900px) {
  .bd-cont .mid-section4 .stats-info-cont {
    width: 50%;
    border-radius: 0 5px 5px 0;
  }
}
.bd-cont .mid-section4 .stats-info-cont .stats-info-head {
  text-align: center;
  font-size: 1.6em;
  color: #0E34A0;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.bd-cont .mid-section4 .stats-info-cont .stats-info-head .stats-info-head-icon {
  color: rgba(14, 128, 160, 0.6235294118);
  margin-left: 10px;
}
.bd-cont .mid-section4 .stats-info-cont .stats-info-table {
  padding: 30px;
}
.bd-cont .mid-section4 .stats-info-cont .stats-info-table .started {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 720px) {
  .bd-cont .mid-section4 .stats-info-cont .stats-info-table .started {
    background-color: rgba(89, 0, 255, 0.031372549);
    margin-bottom: 5px;
  }
}
.bd-cont .mid-section4 .stats-info-cont .stats-info-table .started .started-text {
  display: flex;
  align-items: center;
  font-size: 0.8em;
  font-weight: 500;
  text-transform: uppercase;
  padding: 5px 0;
}
@media screen and (min-width: 720px) {
  .bd-cont .mid-section4 .stats-info-cont .stats-info-table .started .started-text {
    font-size: 0.9em;
  }
}
.bd-cont .mid-section4 .stats-info-cont .stats-info-table .started .started-icon {
  margin-right: 10px;
  font-size: 1.3em;
  color: rgba(14, 128, 160, 0.6235294118);
}
@media screen and (min-width: 720px) {
  .bd-cont .mid-section4 .stats-info-cont .stats-info-table .started {
    font-size: 1em;
    padding: 3px 60px;
  }
}
.bd-cont .mid-section4 .stats-info-cont .stats-info-table .started .details {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 700;
  color: #2446A9;
}
@media screen and (min-width: 720px) {
  .bd-cont .mid-section4 .stats-info-cont .stats-info-table .started .details {
    font-size: 0.9em;
  }
}
.bd-cont .mid-section5 .company-info-cont {
  margin-top: 30px;
  text-align: center;
  padding: 10px;
}
.bd-cont .mid-section5 .company-info-cont .company-info-logo img {
  width: 100px;
}
@media screen and (min-width: 720px) {
  .bd-cont .mid-section5 .company-info-cont .company-info-logo img {
    width: 120px;
  }
}
.bd-cont .mid-section5 .company-info-cont .company-info-head {
  text-align: center;
  font-size: 1.6em;
  font-weight: 700;
  color: #0E34A0;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media screen and (min-width: 900px) {
  .bd-cont .mid-section5 .company-info-cont .company-info-head {
    font-size: 1.8em;
  }
}
.bd-cont .mid-section5 .company-info-cont .company-info-details {
  line-height: 1.2rem;
}
.bd-cont .mid-section5 .company-info-cont .company-info-details .info {
  padding: 5px 0;
  font-size: 0.9em;
  text-transform: capitalize;
}
@media screen and (min-width: 900px) {
  .bd-cont .mid-section5 .company-info-cont .company-info-details .info {
    font-size: 1em;
  }
}
.bd-cont .mid-section5 .company-info-cont .company-info-details .info .title {
  color: #2446A9;
  font-weight: 500;
}
.bd-cont .mid-section5 .company-info-cont .cert-btn {
  margin-top: 20px;
}
@media screen and (min-width: 720px) {
  .bd-cont .mid-section5 .company-info-cont .cert-btn {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
}
.bd-cont .mid-section5 .company-info-cont .cert-btn button {
  padding: 12px 40px;
  margin: 5px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 0.9em;
  font-weight: 600;
  text-align: center;
  color: #0E34A0;
  background-color: rgba(255, 255, 255, 0.712);
  border: 1px solid #0E34A0;
  text-transform: uppercase;
  transition: 0.5s;
  cursor: pointer;
}
.bd-cont .mid-section5 .company-info-cont .cert-btn button:hover {
  color: white;
  background-color: #021b5e;
}
.bd-cont .mid-section6 {
  background-color: rgba(52, 52, 52, 0.062745098);
  margin-top: 10px;
  padding: 20px;
}
.bd-cont .mid-section6 .cash-inflow {
  text-align: center;
  margin: auto;
}
@media screen and (min-width: 900px) {
  .bd-cont .mid-section6 .cash-inflow {
    width: 70%;
  }
}
.bd-cont .mid-section6 .cash-inflow .total-amount {
  position: relative;
  background-color: #0e35a0;
  color: white;
  border-radius: 10px;
  padding: 50px;
  font-size: 1.5em;
  font-weight: 600;
  margin: 45px 0;
}
@media screen and (min-width: 900px) {
  .bd-cont .mid-section6 .cash-inflow .total-amount {
    font-size: 1.9em;
  }
}
.bd-cont .mid-section6 .cash-inflow .total-amount .total-amount-icon img {
  position: absolute;
  top: -30px;
  transform: translate(-50%);
  background-color: white;
  border: 1px solid #e4e5ee;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.bd-cont .mid-section6 .cash-inflow .total-amount .total-amount-title {
  position: absolute;
  top: 15%;
  left: 4%;
  text-transform: capitalize;
  font-size: 0.5em;
}
.bd-cont .mid-section6 .cash-inflow .total-amount .total-amount-title .title-icon {
  position: absolute;
  right: -15px;
}
.bd-cont .mid-section6 .chart {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='400' height='150' preserveAspectRatio='none' viewBox='0 0 400 150'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1021%26quot%3b)' fill='none'%3e%3cpath d='M-12.95 34.67C33.03 35.96 86.51 100.38 157.63 103.67 228.75 106.96 217.52 157.29 242.92 159.72' stroke='rgba(253%2c 253%2c 253%2c 0.06)' stroke-width='2'%3e%3c/path%3e%3cpath d='M-28.91 89.89C21.12 89.46 89.56 38.24 164.63 38.89 239.7 39.54 223.98 152.34 261.4 166.67' stroke='rgba(253%2c 253%2c 253%2c 0.06)' stroke-width='2'%3e%3c/path%3e%3cpath d='M-32.32 71.78C1.61 70.91 26.66 20.77 94.09 22.28 161.52 23.79 174.64 152.33 220.5 165.92' stroke='rgba(253%2c 253%2c 253%2c 0.06)' stroke-width='2'%3e%3c/path%3e%3cpath d='M-0.2 143.39C38.97 141.02 68.22 68.33 137.67 68.39 207.12 68.45 232.08 170.93 275.54 177.22' stroke='rgba(253%2c 253%2c 253%2c 0.06)' stroke-width='2'%3e%3c/path%3e%3cpath d='M-21.83 117.66C7.74 117.72 36.57 136.41 94.97 136.41 153.37 136.41 153.23 117.65 211.76 117.66 270.29 117.67 298.12 151.71 328.56 152.07' stroke='rgba(253%2c 253%2c 253%2c 0.06)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1021'%3e%3crect width='400' height='150' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}/*# sourceMappingURL=index.css.map */